body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.container1 {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
 }
	  
.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    /*height: 400px; /* Tinggi chart */
    width: 80%; 
    border: 1px solid #ccc;
}

canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 75vh;
  width: 75vw;
}

/* Gaya untuk dropdown */
#dropdown {
	text-align: center;
	font-size: 15px; /* Anda dapat menyesuaikan ukuran font */
	padding: 0.5em; /* Padding untuk menjaga tampilan tetap baik */
	width: 90%; /* Lebar dropdown, Anda dapat menyesuaikan sesuai kebutuhan */
}




footer {
	margin-top: 20px;
	text-align: center;
	padding: 10px;
	background-color: #f2f2f2;
}

  /* Menambahkan gaya untuk tautan */
footer a {
	color: inherit;
	/* Pewarisan warna teks dari elemen induk */
	text-decoration: none;
	/* Menghilangkan dekorasi tautan (seperti garis bawah) */
	cursor: pointer;
	/* Menunjukkan kursor pointer ketika diarahkan ke tautan */
}

/* Gaya untuk mengubah tampilan tautan saat dihover (opsional) */
footer a:hover {
	opacity: 0.8;
	/* Mengurangi kecerahan tautan saat dihover */
}